<div class="wallet-selector">
  <div 
    class="wallet-selector__trigger"
    [class.p-invalid]="isInvalid"
    (click)="openWalletDialog()"
  >
    <div class="wallet-selector__content">
      <div class="wallet-selector__icon" *ngIf="selectedWalletId">
        <img 
          *ngIf="selectedWalletId !== 'null' && getSelectedWallet()?.iconUrl; else fallbackIcon"
          [src]="getSelectedWallet()?.iconUrl" 
          [alt]="getSelectedWallet()?.name"
          class="wallet-icon-image"
        />
        <ng-template #fallbackIcon>
          <i [class]="selectedWalletId === 'null' ? 'pi pi-external-link' : getWalletIcon(getSelectedWallet()?.type)"></i>
        </ng-template>
      </div>
      <div class="wallet-selector__text">
        <span *ngIf="selectedWalletId || selectedWalletId === null; else noWallet">
          <span *ngIf="selectedWalletId === null; else walletName">
            {{ "common.outOfPockito" | translate }}
          </span>
          <ng-template #walletName>
            {{ getSelectedWallet()?.name }}
          </ng-template>
        </span>
        <ng-template #noWallet>
          <span class="wallet-selector__placeholder">
            {{ placeholder | translate }}
          </span>
        </ng-template>
      </div>
      <span>
      </span>
      <div class="wallet-selector__balance" 
      *ngIf="getSelectedWallet()?.balance !== null && getSelectedWallet()?.balance !== undefined">
        <span class="wallet-selector__balance-amount">
          {{ getSelectedWallet()?.balance | pockitoCurrency:getSelectedWallet()?.currency:'code' }}
        </span>
      </div>
    </div>
    <div class="wallet-selector__arrow">
      <i class="pi pi-chevron-down"></i>
    </div>
  </div>
</div>

<!-- Wallet Selection Dialog -->
<app-dialog-selector
  [isOpen]="showWalletDialog"
  [title]="'transactions.form.selectWallet'"
  [options]="dialogOptions"
  [selectedOptionId]="selectedWalletId"
  [searchPlaceholder]="'transactions.form.searchWallets'"
  (optionSelected)="onDialogOptionSelected($event)"
  (dialogClosed)="onDialogClosed()"
></app-dialog-selector>
