<div class="wallet-container" *ngIf="wallet">
  <app-page-header>
    <div class="wallet-info" slot="title">
      <img [src]="wallet.iconUrl || 'assets/icons/' + wallet.type + '.png'" alt="{{ wallet.name }} icon" />
      <h1 class="wallet-name">
        {{ wallet.name }}
      </h1>
      <h1
        class="wallet-balance"
        [class.positive]="wallet.balance && wallet.balance > 0"
        [class.negative]="wallet.balance && wallet.balance < 0"
        [class.zero]="!wallet.balance || wallet.balance === 0"
      >
        ({{ wallet.balance | pockitoCurrency : wallet.currency }})
      </h1>
    </div>

    <div slot="actions">
      <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body" />
      <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v" />
    </div>
  </app-page-header>

  <div class="wallets-content">
    <div class="wallets-transactions"></div>
    <div class="wallets-transactions-header">
      <h2>{{ "wallets.transactions" | translate }}</h2>
    </div>
    <app-transaction-list
      [pageableTransactions]="pageableTransactions"
      [wallet]="wallet"
      [walletId]="walletId"
      (loadMore)="onLoadMore()"
    ></app-transaction-list>
  </div>
</div>

<!-- Wallet Form Dialog -->
<app-wallet-form-dialog
  [(visible)]="displayEditWalletDialog"
  [walletId]="wallet?.id"
  (walletSaved)="onWalletSaved($event)"
  (formCancelled)="onFormCancelled()"
></app-wallet-form-dialog>
