<div class="transaction-pagination" *ngIf="totalElements > 0">
  <div class="pagination-info">
    <span class="results-info">
      {{ 'transaction.pagination.showing' | translate }}
      {{ startIndex }} - {{ endIndex }}
      {{ 'transaction.pagination.of' | translate }}
      {{ totalElements }}
      {{ 'transaction.pagination.results' | translate }}
    </span>
    
    <div class="page-size-selector">
      <label for="pageSize">{{ 'transaction.pagination.show' | translate }}</label>
      <p-dropdown 
        id="pageSize"
        [options]="pageSizeOptions"
        [(ngModel)]="pageSize"
        optionLabel="label"
        optionValue="value"
        (onChange)="onPageSizeChange($event.value)"
        [disabled]="loading"
        class="page-size-dropdown">
      </p-dropdown>
      <span>{{ 'transaction.pagination.per_page' | translate }}</span>
    </div>
  </div>

  <div class="pagination-controls">
    <button 
      pButton 
      icon="pi pi-angle-double-left"
      [disabled]="!hasPreviousPage || loading"
      (click)="onFirstPage()"
      [pTooltip]="'transaction.pagination.first' | translate"
      class="p-button-text p-button-sm">
    </button>
    
    <button 
      pButton 
      icon="pi pi-angle-left"
      [disabled]="!hasPreviousPage || loading"
      (click)="onPreviousPage()"
      [pTooltip]="'transaction.pagination.previous' | translate"
      class="p-button-text p-button-sm">
    </button>

    <div class="page-numbers">
      <button 
        *ngFor="let page of pageNumbers"
        pButton 
        [label]="(page + 1).toString()"
        [class.active]="page === currentPage"
        [disabled]="loading"
        (click)="onPageChange(page)"
        class="p-button-text p-button-sm page-number">
      </button>
    </div>

    <button 
      pButton 
      icon="pi pi-angle-right"
      [disabled]="!hasNextPage || loading"
      (click)="onNextPage()"
      [pTooltip]="'transaction.pagination.next' | translate"
      class="p-button-text p-button-sm">
    </button>
    
    <button 
      pButton 
      icon="pi pi-angle-double-right"
      [disabled]="!hasNextPage || loading"
      (click)="onLastPage()"
      [pTooltip]="'transaction.pagination.last' | translate"
      class="p-button-text p-button-sm">
    </button>
  </div>
</div>
