<div
  class="category-item"
  (click)="onViewCategory()"
  [title]="('category.click_to_view' | translate) + ' ' + category.name"
  [style.--category-color]="getCategoryColor()"
  [style.--category-color-light]="getCategoryColorVariants().light"
  [style.--category-color-dark]="getCategoryColorVariants().dark"
  [style.--category-color-gradient]="getCategoryColorVariants().gradient"
>
  <div class="category-item-icon">
    <img
      [src]="getCategoryIconUrl()"
      [alt]="category.name"
      class="category-icon-small"
      (error)="onImageError($event)"
    />
  </div>
  
  <div class="category-item-info">
    <h3 class="category-name">{{ category.name }}</h3>
    <div class="category-meta">
      <span class="category-type">{{ getCategoryTypeLabel() | translate }}</span>
      <span class="status-indicator" [class.active]="isCategoryActive()">
        {{ isCategoryActive() ? ('category.status.active' | translate) : ('category.status.inactive' | translate) }}
      </span>
    </div>
    <div class="category-details-mobile">
      <span *ngIf="hasParent()" class="parent-info">
        {{ 'category.parent' | translate }}: {{ category.parentCategoryName }}
      </span>
      <span *ngIf="hasChildren()" class="children-info">
        {{ 'category.children' | translate }}: {{ category.childCount }}
      </span>
    </div>
  </div>
  
  <div class="category-item-color">
    <div class="color-indicator" [style.background-color]="getCategoryColor()"></div>
  </div>
  
  <!-- action buttons -->
  <div class="action-buttons">
    <p-button 
      icon="pi pi-ellipsis-v" 
      styleClass="p-button-text p-button-rounded three-dot-menu-btn"
      (click)="menu.toggle($event); $event.stopPropagation()"
      [pTooltip]="'category.actions.menu' | translate"
      tooltipPosition="left"
    ></p-button>
    <p-menu 
      #menu 
      [model]="menuItems" 
      [popup]="true"
      styleClass="category-action-menu"
      appendTo="body"
    ></p-menu>
  </div>
</div>
