<div class="view-switcher-container">
  <div class="view-switcher">
    <button 
      class="view-btn" 
      [class.active]="isCardsView()"
      (click)="onViewModeChange('cards')"
      [title]="'category.view_mode.cards' | translate"
    >
      <i class="pi pi-th-large"></i>
      <span class="view-label">{{ 'category.view_mode.cards' | translate }}</span>
    </button>
    <button 
      class="view-btn" 
      [class.active]="isListView()"
      (click)="onViewModeChange('list')"
      [title]="'category.view_mode.list' | translate"
    >
      <i class="pi pi-list"></i>
      <span class="view-label">{{ 'category.view_mode.list' | translate }}</span>
    </button>
  </div>
</div>
