<app-pockito-dialog
  [(visible)]="visible"
  [breakpoints]="{ '960px': '90vw', '640px': '100vw' }"
  [style]="{ width: '30vw' }"
  [modal]="true"
  [closable]="true"
  [closeOnEscape]="true"
  [headerColor]="getDialogHeaderColor()"
  (visibleChange)="onDialogVisibleChange($event)"
>
  <ng-template #header>
    <div class="dialog-header-content">
      <span>{{ getDialogHeader() | translate }}</span>
      <button 
        *ngIf="isEditMode()"
        class="delete-button"
        (click)="deleteTransaction()"
        [attr.aria-label]="'transactions.delete.button' | translate"
        type="button"
      >
        <i class="pi pi-trash"></i>
      </button>
    </div>
  </ng-template>
  <app-transaction-form
  *ngIf="visible"
    [transactionId]="transactionId"
    [initialWalletFromId]="initialWalletFromId"
    [initialWalletToId]="initialWalletToId"
    (transactionSaved)="onTransactionSaved($event)"
    (formCancelled)="onFormCancelled()"
    (transactionTypeChanged)="onTransactionTypeChanged($event)"
    (walletChanged)="onWalletChanged($event.walletFromId, $event.walletToId)"
  ></app-transaction-form>
</app-pockito-dialog>