<div class="category-selector">
  <div 
    class="category-selector__trigger"
    [class.p-invalid]="isInvalid"
    (click)="openCategoryDialog()"
  >
    <div class="category-selector__content">
      <div class="category-selector__icon" *ngIf="getSelectedCategory()">
        <img 
          *ngIf="getSelectedCategory()?.iconUrl; else fallbackIcon"
          [src]="getSelectedCategory()?.iconUrl" 
          [alt]="getSelectedCategory()?.name"
          class="category-icon-image"
        />
        <ng-template #fallbackIcon>
          <i [class]="getCategoryIcon(getSelectedCategory()!.categoryType)"></i>
        </ng-template>
      </div>
      <div class="category-selector__text">
        <span *ngIf="getSelectedCategory(); else noCategory">
          {{ getSelectedCategory()?.name }}
        </span>
        <ng-template #noCategory>
          <span class="category-selector__placeholder">
            {{ placeholder | translate }}
          </span>
        </ng-template>
      </div>
    </div>
    <div class="category-selector__arrow">
      <i class="pi pi-chevron-down"></i>
    </div>
  </div>
</div>

<!-- Category Selection Dialog -->
<app-dialog-selector
  [isOpen]="showCategoryDialog"
  [title]="'transactions.form.selectCategory'"
  [options]="dialogOptions"
  [selectedOptionId]="selectedCategoryId"
  [searchPlaceholder]="'transactions.form.searchCategories'"
  (optionSelected)="onDialogOptionSelected($event)"
  (dialogClosed)="onDialogClosed()"
></app-dialog-selector>
