<div class="wallets-container">
  <app-page-header>
    <div slot="title">
      <h1>{{ "wallets.title" | translate }}</h1>
    </div>

    <div slot="actions">
      <pockito-button
        [type]="PockitoButtonType.PRIMARY"
        icon="fa-solid fa-plus"
        iconPosition="left"
        (click)="showCreateWalletDialog()"
        class="add-wallet-btn"
      >
        {{ "wallets.addWallet" | translate }}
      </pockito-button>
    </div>
  </app-page-header>

  <div class="wallets-content">
    <div class="wallets-list">
      <div
        class="wallet-item"
        (click)="viewWallet(wallet)"
        *ngFor="let wallet of wallets"
        [ngClass]="{
          'is-positive': wallet.balance && wallet.balance >= 0,
          'is-negative': wallet.balance && wallet.balance < 0
        }"
      >
        <div class="wallet-item-header">
          <span class="wallet-icon">
            <img
              [src]="wallet.iconUrl || 'assets/icons/' + wallet.type + '.png'"
              alt="{{ wallet.name }} icon"
            />
          </span>

          <div class="wallet-info">
            <h2 class="wallet-name" title="{{ wallet.name }}">
              {{ wallet.name }}
            </h2>
            <div class="wallet-balance">
              <span class="amount">
                {{ wallet.balance | pockitoCurrency : wallet.currency }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- Wallet Form Dialog -->
  <p-dialog
    [maximizable]="true"
    [(visible)]="displayCreateWalletDialog"
    [breakpoints]="{ '960px': '90vw', '640px': '100vw' }"
    [style]="{ width: '60vw' }"
    [modal]="true"
    [header]="'wallets.createWallet' | translate"
    [closable]="true"
    [closeOnEscape]="true"
  >
    <app-wallet-form
    *ngIf="displayCreateWalletDialog"
    (walletSaved)="onWalletSaved($event)"
    (formCancelled)="onFormCancelled()"
    ></app-wallet-form>
  </p-dialog>